:root {
    --background-color: #011936;
    --button-color: #F4FFFD;
    --border-color: #C21F40;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.white-keys {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1;
}

.black-keys {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 2;
}

.piano-key {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    font-family: "Roboto Slab", serif;
    border: 2px double var(--border-color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.6s;
}

.white-keys .piano-key {
    background-color: var(--button-color);
    color: var(--background-color);
    min-width: 75px;
    min-height: 250px;
}

.black-keys .piano-key {
    position: absolute;
    top: 0;
    background-color: var(--background-color);
    color: var(--button-color);
    min-width: 36px;
    min-height: 150px;
}

#W {
    left: 57px;
}

#E {
    left: 132px;
}

#T {
    left: 282px;
}

#Y {
    left: 357px;
}

#U {
    left: 432px;
}

.white-keys .piano-key.pressed {
    background-color: var(--background-color);
}

.black-keys .piano-key.pressed {
    background-color: var(--button-color);
}

@media (max-width: 560px) {

    .white-keys .piano-key {
        min-width: 50px;
        min-height: 175px;
    }

    .black-keys .piano-key {
        min-width: 24px;
        min-height: 100px;
    }

    #W {
        left: 38px;
    }

    #E {
        left: 88px;
    }

    #T {
        left: 188px;
    }

    #Y {
        left: 238px;
    }

    #U {
        left: 288px;
    }
}
